<!DOCTYPE html>
<html>

<body style='background-color: rgba(55,129,24,0.67) '>

<h1 style="text-align:center;"> Chatbot exercise</h1>
<hr />
<hr />
<h2>Do you have any question about ETH Zürich?</h2>
<h4> You can ask Prof. Marcus about admission requirements for Bachelor, Master and PhD programs and how to apply! </h4>
<h3 style type="underline">
<a href="https://console.dialogflow.com/api-client/demo/embedded/4f43673d-e153-4398-8071-8b328632a2a8" target="iframe_chatbot">Wake Prof. Marcus</a></h3>

</body>


<iframe
    allow="microphone;"
    width="350"
    height="430"
    align = "right"
    name ='iframe_chatbot'
    src="/Prof_Marcus">
</iframe>
</html>