<!DOCTYPE html>
<html>
<!-- set background -->
<body style='background-color: rgba(254,161,1,0.68);border: 3px solid rgba(254,161,1,0.68); '>

<h1 style="text-align:center;"> Prof. Marcus is sleeping </h1>

<!-- Center the image below -->
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<!-- the image is stored at /sleeping_img -->
<img src='/sleeping_img' alt="wait for image" style="width:300px;height:300px;" class = "center">

</body>
</html>